.kepek img{
    max-width: 100%;
    filter: blur(8px);
}

.kepek{
    max-width: 50%;
    position: relative;
    text-align: center;
}

article{
    display: flex;

}

article #tarolo{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 900px;
    margin-top: 95px;
}

header h1{
    text-align: center;
}

.kepek h1{
    margin: 0px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

ul{
    padding: 0px;
}

.cursor {
    cursor: pointer;
}