*{
    box-sizing: border-box;
} 

.kepek img{
    max-width: 100%;
    filter: blur(8px);
}

.kepek{
    max-width: 50%;
}

article{
    display: flex;
}

article div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 900px;
}

header h1{
    text-align: center;
}

div h1{
    margin: 0px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

ul{
    padding: 0px;
}