@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Libre+Bodoni&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
h1 {
  letter-spacing: 5px;
  font-family: "IM Fell French Canon SC", serif;
}
p,
li,
.bekezdes {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  padding: 20px;
}
.bekezdes {
  font-weight: lighter;
  background-color: rgba(255, 233, 204, 0.3);
}
h2 {
  font-family: "Cinzel", serif;
}
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(200, 158, 103);
}
nav ul li {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding: 20px 24px;
  justify-content: center;
}

nav ul{
  padding-top: 30px;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 330px;
}

a {
  text-decoration: none;
}
#sidebar.active {
  left: 0;
}
#sidebar a {
  color: rgb(0, 0, 0);
}
#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: rgba(53, 35, 9, 0.3);
  left: -300px;
  transition: 0.5s;
}


#hamburgermenuicon{
  height: 40px;
  left: 0;
  top: 0;
  position: fixed;
}


@media screen and (max-width:400px) {
  h1{
    font-size: 20px;
  }
  p{
    font-size: 10px;
  }

  section div {
    height: 80%;
  }

  section {
    height: 500px;
  }
}
